.blured-bg {
    background-image: url('../../assets/header_bg.jpg');

    /* Full height */
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}